/*
 *= require_tree .
 *= require_self
 */
 body { padding-top: 100px; }
 footer { margin-top: 100px; }
 table, td, th { vertical-align: middle; border: none; }
 th { border-bottom: 1px solid #DDD; }

.navicon{
  font-size: 2.1rem;
}

.font_logo{
  height: 2.3rem;
  width: auto;
}

.sl-grey{
  color:  #999;
}

.newmargin{
  margin-bottom: 1rem !important;
}

.custom-dateselect{
  min-width: 10%;
}

.setlist-alert h2{
  font-size: 2rem;
  color: #FFF;
}
